[submodule "external/wayland"]
	path = external/wayland
	url = https://github.com/wayland-project/wayland.git
[submodule "external/wayland-protocols"]
	path = external/wayland-protocols
	url = https://github.com/wayland-project/wayland-protocols.git
[submodule "external/plasma-wayland-protocols"]
	path = external/plasma-wayland-protocols
	url = https://github.com/KDE/plasma-wayland-protocols
[submodule "external/wlr-protocols"]
	path = external/wlr-protocols
	url = https://gitlab.freedesktop.org/wlroots/wlr-protocols
