[submodule "external/wayland"]
	path = external/wayland
	url = https://gitlab.freedesktop.org/wayland/wayland.git
[submodule "external/wayland-protocols"]
	path = external/wayland-protocols
	url = https://gitlab.freedesktop.org/wayland/wayland-protocols.git
[submodule "external/plasma-wayland-protocols"]
	path = external/plasma-wayland-protocols
	url = https://invent.kde.org/libraries/plasma-wayland-protocols.git
[submodule "external/wlr-protocols"]
	path = external/wlr-protocols
	url = https://gitlab.freedesktop.org/wlroots/wlr-protocols.git
