[submodule "external/wayland"]
	path = external/wayland
	url = https://github.com/wayland-project/wayland.git
[submodule "external/kwayland"]
	path = external/kwayland
	url = https://github.com/KDE/kwayland.git
[submodule "external/wayland-protocols"]
	path = external/wayland-protocols
	url = https://github.com/wayland-project/wayland-protocols.git
[submodule "external/wlr-protocols"]
	path = external/wlr-protocols
	url = https://github.com/swaywm/wlr-protocols.git
